@charset "utf-8";
/* CSS Document */

/* body background color */
.backcolor{background-color:#F8F8F8}

/* ancher config */
a{text-decoration: none; display:block; width:100%; color:#000;}

/* header background color */
.header-bar{background-color:#73D4C1; color:#FFF;}

.sidemenu-bar{background-color:#222222; color:#FFF;}

/* footer background color */
.footer-bar{background-color:#1D4461; color:#FFF;}

/* Dashboard icon size and css stytemcontrol */
.custom-icon{font-size:30px; cursor:pointer;}

/* up down icon for temperature */
.custom-icon1{font-size:40px; background-color:#336; color:red;}
.custom-icon2{font-size:40px;}

/* selected systemcontrol design */
.custom-icon4{ color:#11C1F3; font-weight:bold;}
.custom-icon4:hover {color:#11C1F3; font-weight:bold;}

/* logo login */
.root-loginlogo{ background-image:url(../images/root2.png); background-repeat:no-repeat; background-position:center; background-position:top;}

/* security design on selected */
.custom-security_icon4{ color:#11C1F3;}
.custom-security-icon4:hover {color:#11C1F3;}

/* button of three lines */
.custom-button{color:#FFF;}
.custom-button:hover{color:#FFF;}

/* button color for login */
.login-button{background-color:#7CDACA; color:#FFF;}
.login-button:hover{background-color:#7CDACA; color:#FFF;}

/* back button color */
.button-clear.button-clear {color:#FFF;}
.back-button{ color:#FFF;}
.back-button:hover{ color:#FFF;}

/* Ionic popup title for text */
.popup-body {text-align:left; float:left}
.popup-head{text-align:center; }

.height_manage{height:120px;}

/* amenites icon */
.amenitiesIcon{background-image:url(../images/amenities.svg); background-repeat:no-repeat; height:30px; width:35px; background-position:center; background-position:top; }

/* rootcontrol icon */
.rootcontrolIcon{background-image:url(../images/wifi.png); background-repeat:no-repeat; height:30px; width:35px; background-position:center; background-position:center; }

map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}

/* rating style */
ul.rating li {
  display: inline;
  border: 0px;
  background: none;
}
ul.rating li i {
  font-size:15px;
  color:#000;
}
